@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,400;0,600;0,900;1,100;1,300;1,400;1,600;1,900&display=swap');



body {
  font-family: "Kanit", sans-serif !important;
  font-size:300;
  margin: 0;
  background-color:rgb(33, 33, 33);
}


